<div ng-init="init()" ng-controller="AddTextReportController">
    <div id="loader" ng-show="addtextLoader">
        <div class="spinner"></div>
    </div>
    <main class="main-content bgc-grey-100">
        <div id="mainContent">
            <div class="container">
                <div class="panel">
                    <div class="panel-heading border">
                        <h2 class="text-center">
                            Add Test Report
                        </h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered bordered table-striped table-condensed datatable" id="textReportTable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                                <tr>
                                    <th>#SL</th>
                                    <th>Patient Name</th>
                                    <th>Patient Age</th>
                                    <th>Patient Gender</th>
                                    <th>Test Price</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="n in reportArray">
                                    <td>{{$index+1}}</td>
                                    <td>{{n.name}}</td>
                                    <td>{{n.age}}</td>
                                    <td>{{n.gender}}</td>
                                    <td>{{n.total_report_price | currency:"₹":0}}</td>
                                    <td>{{n.created_date}}</td>
                                    <td><button class="btn btn-link"><span class="icon-holder" ng-click='viewReport(n.patient_id)'><i class="c-teal-500 fa fa-file-pdf-o"></i></span></button>
                                    <!-- <button class="btn btn-link"><span class="icon-holder"><i
                                                class="c-deep-orange-500 fa fa-times" ng-click="deleteReport(n.patient_id)"></i></span></button> -->
                                            </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2017 Designed by <a
                href="https://colorlib.com/" target="_blank" title="Colorlib">Colorlib</a>. All rights
            reserved.</span>

    </footer>
</div>
</div>